*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:
        radial-gradient(
            circle at center,
            #222222 0%,
            #151515 60%,
            #101010 100%
        );

    color:white;

    font-family:Inter,sans-serif;

    display:flex;

    flex-direction:column;

    align-items:center;

    min-height:100vh;

    padding:20px;

}

.toolbar {

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:12px;

    padding:20px;
}

input{

    width:80px;

    padding:8px;

    border:none;

    border-radius:8px;

    text-align:center;

    font-size:16px;

}

button{

    padding:10px 18px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:15px;

}

.canvas-container {

    width: 100%;

    display: flex;

    justify-content: center;

}

:root {
    --watch-size: min(90vw, 500px);
}

canvas {

    width: var(--watch-size);

    height: var(--watch-size);

    aspect-ratio: 1;
    cursor: pointer;

}

@media (max-width: 768px) {

    #start,
    #pause {
        display: none;
    }

}